################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CustomerOnBoardingBackend/.vs
/CustomerOnBoardingBackend/CustomerOnboardingApplication
