################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CustomerOnBoardingBackend/.vs
/CustomerOnBoardingBackend/CustomerOnboardingApplication/.bin
/CustomerOnBoardingBackend/CustomerOnboardingApplication/.obj
/.vs
/CustomerOnBoardingBackend/CustomerOnboardingApplication/obj/Debug/net8.0/CustomerOnboardingApplication.AssemblyInfo.cs
/CustomerOnBoardingBackend/CustomerOnboardingApplication/obj/Debug/net8.0/CustomerOnboardingApplication.AssemblyInfoInputs.cache
